.card {
	width: 225px;
	margin: 10px;
	font-family: Roboto, sans-serif;
	transition: .3s;
	cursor: pointer;
}

.card img {
	width: 225px;
	height: 350px;
	border-radius: 10px;
}

.title {
	width: 225px;
	font-weight: 600;
	color: #333;
	font-size: 1.2rem;
	margin: 10px 0;
	/* line-height: 40px; */
}

.genre {
	width: 225px;
	word-break: break-word;
	color: rgb(102, 102, 102);
	/* font-family: Roboto; */
	font-size: .9rem;
	line-height: 1.5;
	font-weight: 550;
}