.parent {
    margin: 50px 0px;
}

.parent>.parent__text {
    width: 78%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parent__text h1 {
    font-weight: 600;
    margin-bottom: 0px;
}

.parent__text .link {
    font-size: 18px;
    color: crimson;
}

.entertainment_container {
    width: 80%;
    margin: auto;
}

.entertainment_container img {
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}

.premier__container {
    padding: 20px 0;
    background-color: #2B3148;
}

.premier__container>div>div div {
    color: white;
}