.container {
	padding: 5% 7%;
	max-width: 100vw;
	background: #eee;
	display: flex;
}
.leftsideNav {
	max-width: 275px;
}
.leftsideNav div {
	margin: 10px 0;
	background: white;
	max-width: 275px;
}
.header {
	display: flex;
	max-width: 275px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	cursor: pointer;
}
.header > div:first-child {
	display: flex;
	width: 275px;
	/* padding-right: 100px; */
}

.header > div:first-child svg {
	width: 15px;
}
.header > div:last-child {
	font-size: 13px;
}
.header > div:last-child:hover {
	color: #e67088;
}
.dialogue {
	/* max-width: 100%; */
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}
.dialogue button {
	padding: 8px 12px;
	color: #e67088;
	border: 1px solid #eee;
	background: none;
	outline: none;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}

.mainCards {
	width: 100%;
	/* background: gray; */
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
	padding-left: 10px;
}

.explore {
	width: 960px;
	display: flex;
	margin: 20px;
	margin-left: 30px;
	justify-content: space-between;
	padding: 20px 40px;
	background: white;
	/* font-size: 18px; */
	font-weight: 600;
	border-radius: 10px;
}
.explore > div:first-child {
	font-size: 22px;
}
.explore > div:last-child {
	cursor: pointer;
}
.appliedFilter {
	max-width: 94%;
	display: flex;
	/* margin: 20px; */
	margin-left: 30px;
	border-radius: 15px;
}
.appliedFilter div {
	background: #e67088;
	color: white;
	padding: 8px 20px;
	border: none;
	border-radius: 20px;
	margin-right: 10px;
}

@media only screen and (max-width: 1200px) {
	.explore {
		width: 700px;
	}
}

@media only screen and (max-width: 700px) {
	.explore {
		width: 85%;
		flex-direction: column;
	}
}
