.container {
	display: flex;
	padding: 20px 80px;
	background: #eee;
	scroll-snap-stop: none;
}

.summeryPart {
	width: 40%;
	background: white;
	border: 1px solid #dadada;
	max-height: fit-content;
}

.summeryPart>div:first-child {
	padding: 0 30px;
	padding-top: 20px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 25px;
	text-align: left;
	color: #c02c39;
}

.summeryPart span {
	padding: 0 30px;
	font-size: 13px;
	font-weight: 400;
	color: #3a404e;
}

.categories {
	padding: 0 30px;
	font-size: 16px;
	color: #1f2533;
	font-weight: 500;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
}

.line {
	/* padding: 0 30px; */
	background: #dadada;
	height: 1px;
	margin: 10px 30px;
}

.charity {
	background: #eeeeee;
	margin: 20px 30px;
	padding: 10px;
	text-align: left;
}

.charity>div:first-child {
	display: flex;
	justify-content: space-between;
}

.charity img {
	width: 100px;
	margin: 0 5px;
}

.text {
	font-size: 12px;
	text-align: center;
}

.total {
	background: #fffcdc;
	padding: 15px 30px;
	display: flex;
	font-size: 100%;
	font-weight: 400;
	justify-content: space-between;
	margin: 20px 0;
}

.ticketType {
	font-size: 14px;
	color: #999;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 25px;
	text-align: center;
}

.cancellation_policy {
	font-size: 100%;
	font-weight: 400;
	vertical-align: baseline;
	padding: 15px 30px;
	font-size: 12px;
	text-align: center;
}

.proceedBtn {
	background: #f84464;
	color: #fff;
	padding: 10px 20px;
	margin: 15px 30px;
	display: flex;
	font-size: 18px;
	font-weight: 400;
	justify-content: space-between;
	border-radius: 10px;
	cursor: pointer;
}